MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/nithyamdivyam?retryWrites=true&w=majority
PORT=5000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=nithyamdivyam@2024

# Gmail Automated Notifications (Optional but recommended)
# Use an App Password, not your real login password!
EMAIL_USER=yourbusiness@gmail.com
EMAIL_PASS=your16characterapppassword
NODE_ENV=development
